* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65.2px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.location-btn {
    background-color: #FF2B85;
    color: white;
    padding: 10px 22px 10px 22px;
    border-radius: 30px;
}

ul i {
    font-size: 20px;
}

/*  */
.banner-vid {
    width: 100%;
    height: 30vw;
    display: block;
    object-fit: cover;
    filter: grayscale(20%);
}

.head1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 78px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 30vh;
    left: 9vw;
    line-height: 1;
}

/*  */
.hero-head {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;
    width: 805px;
    height: 200px;
    margin-top: 10vh;
    line-height: 1;
    margin-left: 9vw;
}

/*  */
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 600px;
}

.hero-img {
    width: 620px;
    height: 348.8px;
}

.head2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;
    line-height: 1.01;
}

.para {
    font-family: poppins;
    font-size: 15px;
    font-weight: 400;
    color: black;
    width: 520.8px;
    height: 128px;
    margin-top: 15px;
}

.btn {
    background-color: #FF2B85;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 550;
    padding: 11px 35px;
    border: none;
    border-radius: 20px;
}

/*  */
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 500px;
}

.box1 img {
    margin-top: 15px;
}

.pic {
    width: 620px;
    height: 348px;
    object-fit: cover;
}

.head3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-top: 30px;
}

.para1 {
    font-family: poppins;
    font-size: 15px;
    font-weight: 400;
    color: black;
    width: 520.8px;
}

.para2 {
    font-family: poppins;
    font-size: 15px;
    font-weight: 400;
    color: black;
    width: 520.8px;
    margin-top: 30px;
}

.box2,
.btn {
    margin-top: 20px;
}

.box2 {
    margin-bottom: 50px;
}

.container4 {
    width: 1520px;
    height: 730px;
    background-color: #f5f5f6;
}

.head4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;
    text-align: center;
    padding: 90px;
}

.para3 {
    font-family: poppins;
    font-size: 15px;
    font-weight: 400;
    color: black;
    width: 570px;
    height: 80px;
    margin-top: 20px;

}

.btn1 {
    margin-top: -40px;
}

/*  */


.foot-container {
    width: auto;
    height: 508px;
    background-color: black;
    margin: 0 auto;
}

.foot-container img {
    margin-left: 138px;
    margin-top: 80px;
}

.box3 {
    margin: 0 auto;
}

.sub-box {
    display: flex;
    gap: 15vw;
    align-items: center;
    margin-left: 138px;
    margin-top: 30px;
}

.sub-box strong {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 4;
}

.sub-box li {
    list-style: none;
}

.sub-box li a {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: white;
}

.sub-box1 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    line-height: 4;
}

.sub-box1 i {
    font-size: 24px;
}

.sub-box1 {
    margin-bottom: 55px;
    margin-left: 20vw;
}

.legal-info {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: relative;
    top: 120px;
    left: 138px;
}

.legal-info1 {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: relative;
    top: 120px;
    left: 72vw;
}