* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1520px;
    height: 65.2px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.location-btn {
    background-color: #FF2B85;
    color: white;
    padding: 10px 22px 10px 22px;
    border-radius: 30px;
}

ul i {
    font-size: 20px;
}

/*  */
.banner-pic {
    width: 100%;
    height: 30vw;
    display: block;
    object-fit: cover;
    background-image: linear-gradient(to bottom, #00000086, #0000005c);
}

.head1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 61.44px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 36vh;
    left: 9vw;
    line-height: 1;
}

.join-btn {
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #FF2B85;
    padding: 12px 32px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 55vh;
    left: 9vw;
}

.container1 {
    width: 1520.8px;
    height: 280px;
    background-color: #f5f5f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-family: roboto;
    font-size: 40px;
    font-weight: 800;
    color: black;
    text-align: center;
}

.para {
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
    color: black;
    width: 1240px;
    height: 80px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.6;
}

/*  */
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    flex-direction: column;
}

.country-btn {
    font-family: poppins;
    font-size: 16px;
    font-weight: 650;
    color: #FF2B85;
    margin: 16px 16px 16px 0px;
    padding: 8px 32px;
    border: 2px solid #c21760;
    border-radius: 30px;
    background-color: white;
}

.country-btn:hover {
    background-color: #c21760;
    color: white;
}

/*  */
.container-caruosel {
    width: 1520px;
    height: 544px;
    background-color: white;
}

.slide-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.info-box {
    margin-top: 30px;
}

.Carousel-heading {
    font-family: roboto;
    font-size: 43px;
    font-weight: 800;
    color: black;
    width: 309px;
    line-height: 1;
}

.Carousel-para {
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
    color: black;
    width: 403px;
    margin-top: 15px;
}

.join-btn1 {
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #FF2B85;
    padding: 12px 32px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 212vh;
    left: 10.5vw;
}

.Carousel-img {
    width: 620px;
    height: 348px;
    object-fit: cover;
    margin-top: 90px;
}

/*  */
.heading1 {
    font-family: roboto;
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-left: 10.5vw;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.pic1 {
    width: 274px;
    height: 365px;
    object-fit: cover;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.166), #000);
}

.sub-head {
    font-family: roboto;
    font-weight: 600;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 252vh;
    left: 212px;
    width: 10vw;
}

.sub-head1 {
    font-family: roboto;
    font-weight: 600;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 252vh;
    left: 32vw;
    width: 10vw;
}

.sub-head2 {
    font-family: roboto;
    font-weight: 600;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 252vh;
    left: 52vw;
    width: 10vw;
}

.sub-head3 {
    font-family: roboto;
    font-weight: 600;
    color: #9e9c9c;
    font-size: 20px;
    position: absolute;
    top: 252vh;
    left: 72vw;
    width: 10vw;
}

/*  */
.container3 {
    width: 1520.8px;
    height: 600px;
    background-color: #f5f5f6;
    margin-top: 10vh;

}

.heading2 {
    font-family: roboto;
    font-size: 40px;
    font-weight: 800;
    color: black;
    text-align: center;
    position: relative;
    top: 12vh;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 600px;
}

.card1 {
    width: 274px;
    height: 368px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-img {
    width: 59px;
    height: 64px;
    object-fit: cover;
    margin-bottom: 11vh;
}

.card-text {
    font-family: roboto;
    font-size: 28px;
    color: black;
    font-weight: 700;
}

.card-para {
    font-family: roboto;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}
/*  */
.foot-container {
    width: 1520.8px;
    height: 508px;
    background-color: black;
}

.logo {
    margin-left: 138px;
    position: relative;
    top: 80px;
}

.sub-box {
    display: flex;
    gap: 15vw;
    align-items: center;
    margin-left: 138px;
    margin-top: 110px;
}

.sub-box strong {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 4;
}

.sub-box li {
    list-style: none;
}

.sub-box li a {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;

    color: white;
}

.sub-box1 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    line-height: 4;
}

.sub-box1 i {
    font-size: 24px;
}

.sub-box1 {
    margin-bottom: 55px;
    margin-left: 20vw;
}

.legal-info {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: relative;
    top: 120px;
    left: 138px;
}
.legal-info1 {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: relative;
    top: 120px;
    left: 72vw;
}