* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1520px;
    height: 65.2px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.location-btn {
    background-color: #FF2B85;
    color: white;
    padding: 10px 22px 10px 22px;
    border-radius: 30px;
}

ul i {
    font-size: 20px;
}

/*  */
.banner-container {
    background-image: url(https://www.foodpanda.com/wp-content/uploads/2025/07/fp-contact.webp);
    max-width: 1540px;
    height: 62vh;
    margin: 0 auto;
    transform: translate(0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-heading {
    font-family: roboto;
    font-size: 76.8px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 40vh;
    left: 10vw;
}

/*  */
.contact-heading {
    font-family: poppins;
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-left: 10vw;
    margin-top: 10vh;
}

.form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-wrapper {
    max-width: 800px;
    margin-left: 4vw;
    margin-top: 4vh;
}

.label {
    display: block;
    font-weight: 700;
    margin: 20px 0 8px;
    font-family: poppins;

}

.label span {
    color: #000;
}

.name-group {
    display: flex;
    gap: 20px;
}

.input-box {
    width: 268.7px;
    height: 41.6px;
}

input,
textarea {
    width: 554.1px;
    padding: 12px;
    border: 1px solid #8a94a6;
    border-radius: 4px;
    font-size: 15px;
}


small {
    display: block;
    margin-top: 6px;
    color: #000;
    font-size: 13px;
    font-family: poppins;
}

textarea {
    resize: vertical;
}

.submit-btn {
    background: linear-gradient(135deg, #ff2f8f, #ff4fa3);
    color: #fff;
    border: none;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 4vh;
}

.contact-pic {
    width: 620px;
    height: 348.75px;
    object-fit: cover;
}

/*  */
.container {
    height: 264px;
    background-color: #f5f5f6;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para {
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
    color: black;
    width: 355px;
    text-align: center;
}

/*  */
.foot-container {
    width: 1520.8px;
    height: 508px;
    background-color: black;
}

.logo {
    margin-left: 138px;
    position: relative;
    top: 80px;
}

.sub-box {
    display: flex;
    gap: 15vw;
    align-items: center;
    margin-left: 138px;
    margin-top: 110px;
}

.sub-box strong {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 4;
}

.sub-box li {
    list-style: none;
}

.sub-box li a {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;

    color: white;
}

.sub-box1 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    line-height: 4;
}

.sub-box1 i {
    font-size: 24px;
}

.sub-box1 {
    margin-bottom: 55px;
    margin-left: 20vw;
}

.legal-info {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: relative;
    top: 120px;
    left: 138px;
}

.legal-info1 {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: relative;
    top: 120px;
    left: 72vw;
}