* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1520px;
    height: 65.2px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.location-btn {
    background-color: #FF2B85;
    color: white;
    padding: 10px 22px 10px 22px;
    border-radius: 30px;
}

ul i {
    font-size: 20px;
}

/*  */
.news-heading {
    font-family: roboto;
    font-size: 78.8px;
    font-weight: 700;
    color: #343b46;
    margin-left: 155px;
    margin-top: 75px;
}

/*  */
.news-container {
    width: 1240px;
    height: 479px;
    background-color: #f5f5f6;
    overflow: hidden;
    margin-left: 10vw;
    margin-top: 3vh;
}

.news-container img {
    width: 620px;
    height: 479px;
    object-fit: cover;
}

.news-box {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.news-info {
    font-family: poppins;
    font-size: 17px;
    font-weight: 700;
    color: #FF2B85;
}

.sub-info {
    font-family: poppins;
    font-size: 15px;
    font-weight: 500;
    color: #343b46db;
    opacity: 0.85;
    margin-left: 30px;
}

.sub-box2 {
    margin-right: 6vw;
    margin-top: 8.5vh;
}

.sub-box2 a {
    text-decoration: none;
}

.news-desc {
    font-family: roboto;
    font-weight: bolder;
    color: #343b46;
    font-size: 32px;
    width: 451px;
    height: 84px;
    margin-top: 5vh;
    line-height: 1;
}

/*  */
.news-container1 {
    width: 1240px;
    height: 39.2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 90px;
    margin-top: 20vh;
    margin-left: 10vw;
}

.nav-btn {
    font-family: roboto;
    font-size: 18px;
    font-weight: 900;
    color: white;
    background-color: black;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
}

.nav-btn1 {
    font-family: roboto;
    font-size: 18px;
    font-weight: 900;
    color: #231f20;
    background-color: white;
    border: 2px solid black;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
}

.nav-btn2 {
    font-family: roboto;
    font-size: 18px;
    font-weight: 900;
    color: #FF2B85;
    background-color: white;
    border: 2px solid #FF2B85;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
}

.latest-news {
    font-family: roboto;
    font-weight: bolder;
    color: #343b46;
    font-size: 32px;
}

/*  */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    width: 392px;
    height: 488.5px;
    background-color: #f5f5f6;
    overflow: hidden;
    border-radius: 16px;
}

.card-img {
    width: 392px;
    height: 220.5px;
    object-fit: cover;
}

.card-text {
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    color: #FF2B85;
    margin-left: 25px;
    position: relative;
    top: 15px;
}

.card-info {
    font-family: roboto;
    font-weight: 500;
    color: #000000;
    font-size: 28px;
    line-height: 1;
    margin-left: 25px;
    margin-top: 25px;
}

.card-date {
    font-family: poppins;
    font-size: 16px;
    font-weight: 500;
    color: #343b46;
    margin-left: 25px;
    position: relative;
    top: 30px;
}

/*  */
.num-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.num-caruosel {
    font-family: roboto;
    font-weight: 500;
    color: black;
    background-color: #e6e6e6;
    padding: 16px;
    border-radius: 16px;
    font-size: 18px;
    text-decoration: none;
}

.num-caruosel1 {
    font-family: roboto;
    font-weight: 500;
    color: #b7b5ba;
    font-size: 18px;
    text-decoration: none;
}
/*  */
.foot-container {
    width: 1520.8px;
    height: 508px;
    background-color: black;
    margin-top: 70px;
}

.logo {
    margin-left: 138px;
    position: relative;
    top: 80px;
}

.sub-box {
    display: flex;
    gap: 15vw;
    align-items: center;
    margin-left: 138px;
    margin-top: 110px;
}

.sub-box strong {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 4;
}

.sub-box li {
    list-style: none;
}

.sub-box li a {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;

    color: white;
}

.sub-box1 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    line-height: 4;
}

.sub-box1 i {
    font-size: 24px;
}

.sub-box1 {
    margin-bottom: 55px;
    margin-left: 20vw;
}

.legal-info {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: relative;
    top: 120px;
    left: 138px;
}

.legal-info1 {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: relative;
    top: 120px;
    left: 72vw;
}