* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
    background: #ffffff;
    border-bottom: 1px solid #eee;
}

.nav-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    height: 32px;
}

.nav-logo span {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ff2b85;
}

/* Center links */
.nav-links {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-links a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-links span {
    font-size: 12px;
    transform: translateY(1px);
}

/* Right */
.nav-right .saved {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ff2b85;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Hero section */
.hero {
    background: #ffb2bb;
    min-height: 650px;
    position: relative;
    display: flex;
    align-items: center;
}
/* Container */
.hero-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Text */
.hero-text {
    max-width: 560px;
}

.hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #1f1f1f;
    margin-bottom: 18px;
}

.hero-text p {
    font-size: 24px;
    color: #1f1f1f;
    margin-bottom: 42px;
}

/* Search box */
.search-box {
    width: 520px;
    background: #fff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 18px 26px;
    font-size: 15px;
    border-radius: 40px;
}

.search-box button {
    width: 52px;
    height: 52px;
    margin-right: 8px;
    border-radius: 50%;
    border: none;
    background: #ff2b85;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

/* Image */
.hero-image img {
    height: 100%;
    width: 100%;
    max-height: 55rem;
    max-width: 55rem;
    margin-left: 90px;
}