* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1520px;
    height: 65.2px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.location-btn {
    background-color: #FF2B85;
    color: white;
    padding: 10px 22px 10px 22px;
    border-radius: 30px;
}

ul i {
    font-size: 20px;
}

/*  */
.banner-pic {
    width: 100%;
    height: 30vw;
    display: block;
    object-fit: cover;
    filter: saturate(0.9);
}

.head1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 78px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 38vh;
    left: 9vw;
    line-height: 1;
}

/*  */
.hero-heading {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;
    width: 600px;
    height: 80px;
    margin-top: 10vh;
    line-height: 1;
    margin-left: 8.5vw;
}

.hero-para {
    font-family: poppins;
    font-size: 15px;
    font-weight: 400;
    color: black;
    width: 805.34px;
    height: 80px;
    margin-top: 20px;
    margin-left: 8.5vw;
}

.container-caruosel {
    width: 1520px;
    height: 544px;
    background-color: #f5f5f6;
}

.slide-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.info-box{
    margin-top: 30px;
}
.Carousel-heading {
    font-family: roboto;
    font-size: 43px;
    font-weight: 800;
    color: black;
    width: 309px;
    line-height: 1;
}

.Carousel-para {
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
    color: black;
    width: 409px;
    margin-top: 15px;
}

.Carousel-img {
    width: 620px;
    height: 348px;
    object-fit: cover;
    margin-top: 90px;
}

/*  */
.value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.value-heading {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #343b46;
    text-align: center;
    margin-top: 12vh;
    letter-spacing: -.025em;
}

.value-btn {
    font-family: poppins;
    font-size: 16px;
    font-weight: 650;
    color: #FF2B85;
    margin: 16px 16px 16px 0px;
    padding: 8px 32px;
    border: 2px solid #c21760;
    border-radius: 30px;
    background-color: white;
}

.value-btn:hover {
    background-color: #c21760;
    color: white;
}

.btn1 {
    margin-top: 40px;
}

/*  */
.slide-container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.Carousel-heading1 {
    font-family: roboto;
    font-size: 40px;
    font-weight: 800;
    color: #343b46;
    width: 309px;
    line-height: 1;
    margin-left: 30px;
}

.Carousel-para1 {
    font-family: poppins;
    font-size: 15px;
    font-weight: 400;
    color: black;
    width: 365px;
    margin-top: 15px;
    margin-left: 30px;
}

.Carousel-img1 {
    width: 561px;
    height: 348px;
    object-fit: cover;
}

/*  */
.container1 {
    width: 1520px;
    height: 573.35px;
    background-color: #f5f5f6;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.pic {
    width: 620px;
    height: 413px;
    object-fit: cover;
    margin-top: 30px;
}

.head3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-top: 30px;
}

.btn {
    background-color: #FF2B85;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 550;
    padding: 11px 35px;
    border: none;
    border-radius: 20px;
}

.btn1 {
    margin-top: 10px;
}

.para3 {
    font-family: poppins;
    font-size: 15px;
    font-weight: 400;
    color: black;
    width: 570px;
    height: 80px;
}
/*  */
.foot-container {
    width: 1520.8px;
    height: 508px;
    background-color: black;
}

.logo {
    margin-left: 138px;
    position: relative;
    top: 80px;
}

.sub-box {
    display: flex;
    gap: 15vw;
    align-items: center;
    margin-left: 138px;
    margin-top: 110px;
}

.sub-box strong {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 4;
}

.sub-box li {
    list-style: none;
}

.sub-box li a {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;

    color: white;
}

.sub-box1 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    line-height: 4;
}

.sub-box1 i {
    font-size: 24px;
}

.sub-box1 {
    margin-bottom: 55px;
    margin-left: 20vw;
}

.legal-info {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: relative;
    top: 120px;
    left: 138px;
}
.legal-info1 {
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: relative;
    top: 120px;
    left: 72vw;
}